{% extends 'base.html.twig' %}

{% block title %}Автопилот — Автоворонки, продажи, геймификация и чат-боты для ВКонтакте и не только{% endblock %}

{% block body %}

    <div class="wrapper image">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">

                <div class="col-md-8">
                    <div class="content">
                        <h1 class="text-uppercase font-weight-bold text-white display-4 mb-4">Автопилот</h1>
                        <h5 class="font-weight-bold text-white">Максимальный результат при минимальных усилиях</h5>
                        <p class="text-white mb-5">Чтобы использовать сервис нужно войти. Не нажимайте Войти, если вы еще не готовы работать, а просто хотите познакомиться с сервисом.</p>

                        <a href="{{ login }}" class="btn btn-warning mr-3"><i class="fa fa-vk fa-lg pr-1 align-baseline" aria-hidden="true"></i>Войти</a>
                        <a href="https://vk.com/@skyautome-instructions" class="btn btn-light">Подробнее</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
